<section id="photos">
	{% for post in site.categories[category_name] %}
		<a href="{{ post.url | absolute_url }}">
			<div class="hvrbox">
				<img src="{{ post.image }}" class="hvrbox-layer_bottom">
				<div class="hvrbox-layer_top">
					<div div class="hvrbox-text">
						{{ post.title | escape }}
						<br>
						<span class="hvrbox-date">
							{% if post.featureorganizer %}by {{ post.featureorganizer }}<br>{% endif %}
							{{ post.date | date: "%b %-d, %Y" }}
						</span>
					</div>
				</div>
			</div>
		</a>
	{% endfor %}
</section>
